{% extends 'base.html' %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meeps</title>
</head>
<body>
    <h1>Meeps!</h1>
    <br>
    <div>
        <a href="{% url 'create' %}" class="btn btn-outline-success">Post a new meep</a>
    </div>
    <br>

{% for meep in meeps %}
    <div class="alert alert-light" role="alert">
      {{ meep }}
        {% if request.user == meep.user %}
            <a href="{% url 'update' meep.pk  %}" class="btn btn-outline-success">Update meep</a>
            <a href="{% url 'delete' meep.pk  %}" class="btn btn-outline-danger">Delete meep</a>
        {% endif %}
    </div>
    <br>
{% endfor %}

</body>
</html>

{% endblock %}